export default {
  content: ["./src/**/*.{astro,html,js,jsx,ts,tsx}"],
  theme: {
    extend: {
      colors: {
        brand: "#FFCD00",
      },
      fontFamily: {
        sans: ["'Noto Sans HK'", "sans-serif"],
      },
      letterSpacing: {
        widefigma: "0.96px",
        widerfigma: "1.62px",
      },
    },
  },
  plugins: [],
};

