---
import RichText from "./RichText.astro";

const res = await fetch("http://localhost:3000/api/globals/philosophy");
const philosophy = await res.json();
---

<section class"container-blanco">
 
  </div>
</section>
